.fire-glow {
    filter: drop-shadow(0 0 6px #00ff66) drop-shadow(0 0 12px #00ff66);
}

.fire-glow-fade {
    transition: filter 0.6s ease-out;
    filter: drop-shadow(0 0 1px #00ff66) drop-shadow(0 0 2px #00ff66);
}

.flame-anim {
    animation: flamePulse 0.42s infinite alternate;
}

@keyframes flamePulse {
    from { filter: drop-shadow(0 0 5px #00ff66); }
    to   { filter: drop-shadow(0 0 13px #22ff88); }
}

.flare {
    animation: flareFlash 0.25s infinite alternate;
}

@keyframes flareFlash {
    from { filter: drop-shadow(0 0 12px #55ff99); }
    to   { filter: drop-shadow(0 0 18px #99ffcc); }
}


/* FULL-BRIGHT IGNITE GLOW */
rect.fire-bright {
    fill: #a8ffa8 !important;              /* bright green inside */
    filter: brightness(10) saturate(1.4);
    transition: fill 0.15s linear, filter 0.15s linear;
    box-shadow: 0 0 14px 8px rgba(187, 246, 187, 0.75);
}

rect.fire-fade {
    transition: filter 0.4s ease-out, fill 0.4s ease-out;
    filter: brightness(1.0) saturate(1.0);
    box-shadow: 0 0 0px 0px rgba(0,255,0,0);
}

rect.flare {
    box-shadow: 0 0 26px 14px rgba(120,255,120,0.95) !important;
}
